<h1><%= @restaurant.name %></h1>
<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li>Category: <%= @restaurant.category.capitalize %></li>
</ul>
<div><%= link_to 'Back to all restaurants', restaurants_path, class: 'btn btn-primary mb-3' %></div>

<h2>Leave a review for <%= @restaurant.name %></h2>
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <div><%= f.label :content %></div>
  <div><%= f.input_field :content, class: 'text-area' %></div>
  <div><%= f.label :rating %></div>
  <div><%= f.input_field :rating %></div>
  <div><%= f.button :submit, class: 'btn btn-primary my-3' %></div>
<% end %>


<h2>Reviews (<%= @restaurant.reviews.count %>)</h2>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <div>
        <% review.rating.times do %>
          ★
        <% end %>
      </div>
      <div><%= review.content %></div>
    </li>
  <% end %>
</ul>
