<!DOCTYPE html>
<html>
  <head>
    <title>Rails Yelp MVP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "Fake Yelp", restaurants_path, class: 'navbar-brand' %>
      <%= link_to "Add New Restaurant", new_restaurant_path, class: 'btn btn-primary' %>
    </div>
    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
